{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </tr>
    </thead>
    <tbody>
        <!-- Iterate through each item in the dict and output the Symbol, company name, num of shares, current share price, total holding value -->
        {% for history in history %}
            <tr>
                <td>{{ history['ticker'] }}</td>
                <td>{{ history['num_shares'] }}</td>
                <td>${{ history['price_atm'] }}</td>
                <td>{{ history['purchase_time'] }}</td>
            </tr>
        {% endfor %}
</table>


{% endblock %}