{% extends "layout.html" %}

{% block title %}
    Password Change
{% endblock %}

{% block main %}
    <form action="/password" method="post" name="Form" onsubmit="return(validate());">
        <div class="alert alert-primary" role="alert">
            You will be redirected to the Log In Page after successful password change!
          </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
                <input class="form-control" name="password" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.confirmation.pattern = this.value;" placeholder="Password" required>
        </div>
        <div class="form-group">
                <input class="form-control" id="confirmation" name="confirmation" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Passwords do not match' : '');" placeholder="Retype Password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
    <script>
        function validate() {

            if (document.Form.username.value == "") {
                alert("Please enter a username!");
                document.Form.username.focus();
                return false;
            }
        }
    </script>

{% endblock %}
